#root {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
}

.game {
  background-color: rgb(178, 235, 216)
}

button.square {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: 1em;
  text-align: center;
  text-decoration: none;
  color: #000;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
button.square:hover {
  background: #dcdcdc linear-gradient(#fff, #dcdcdc);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
button.square:active {
  background: white;
  box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5)inset, 0 1px 2px #fff
}